body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

figure {
  display: table;
  margin:0px 0px 0px 20px;
  float:right;
  text-align:center
  border-radius: 35px;
  border: 1.5px solid #AABBCC;
  padding: 15px;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  font-size: 0.9em;
}
