.header-container {
  background-color: black;
  background: url("bg.jpg") no-repeat 50% 0;
  color: #fff;
  background-size: cover;
  background-position: center 36%;
  margin-top: -17px; }

.header-container h1 {
    color: #fff; }


.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  ;
  background-color: #fafafa; }
 .jumbotron h1,
  .jumbotron .h1 {
     }
  .jumbotron p {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 200; }
  .jumbotron > hr {
    border-top-color: #e1e1e1; }

  @media screen and (min-width: 768px) {
    .jumbotron {
      padding-top: 48px;
      padding-bottom: 48px; }
      .container .jumbotron, .container-fluid .jumbotron {
        padding-left: 60px;
        padding-right: 60px; }
      .jumbotron h1,
      .jumbotron .h1 {
        font-size: 72px; } }
        
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 22px;
    margin-bottom: 11px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.1;
  color: inherit; }

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

blockquote {
  padding: 11px 22px;
  margin: 0 0 22px;
  font-size: 19px;
  border-left: 1px solid #ddd;
  color: #6f6f6f; }
