/* TOC by default theme has too much space between list items*/
.toc ul {
    line-height: 1.0;
  }

img.title {
  float: right;
  max-width: 50%; /* Adjust as needed */
  height: auto;
  margin-left: 20px; /* Space between text and image */
}

.container.title {
  overflow: hidden; /* Ensures the float does not affect the container height */
}

@media (max-width: 768px) {
  img.title {
    float: none; /* Removes float on small screens */
    display: block;
    margin: 10px auto; /* Centers the image */
    max-width: 80%; /* Prevents it from being too large */
  }
}